@page "/animes"

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Animes</a>
        <span class="navbar-text">
            Hello, @CurrentUser?.Name!
        </span>
        <div class="nav-item">
            <a class="nav-link" href="/?logout=true">Logout</a>
        </div>
    </div>
</nav>

<div class="content">
    <div class="row">
        <div class="col text-center">
            <h2>Animes</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col text-center">
            <div class="alert alert-info" role="alert">
                @if (_LibraryEntries?.Any() != true)
                {
                    @:Please wait as we load your library...
                }
                else
                {
                    @:You currently have @(_LibraryEntries.Count) animes in your library.
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Search for Anime" @bind="SearchFilter" @bind:event="oninput" />
        </div>
    </div>
    <br /><br />
    @if (_LibraryEntries?.Any() == true)
    {
        if (FilteredLibraryEntries.Any())
        {
            <h4>Currently Watching</h4>
            <hr />
            <div class="row">
                @foreach (var librayEntry in FilteredLibraryEntries?.Where(l => l.Status == Kitsu.Controllers.LibraryStatus.Current) ?? new List<Kitsu.Models.LibraryEntry>())
                {
                    <div class="col">
                        <div class="item-container" @onclick="() => _Anime_OnClicked(librayEntry)">
                            <AnimeCharacters.Components.AnimeTile Anime="@librayEntry.Anime" />
                        </div>
                    </div>
                }
            </div>

            <h4>Completed</h4>
            <hr />
            <div class="row">
                @foreach (var librayEntry in FilteredLibraryEntries?.Where(l => l.Status == Kitsu.Controllers.LibraryStatus.Completed) ?? new List<Kitsu.Models.LibraryEntry>())
                {
                    <div class="col">
                        <div class="item-container" @onclick="() => _Anime_OnClicked(librayEntry)">
                            <AnimeCharacters.Components.AnimeTile Anime="@librayEntry.Anime" />
                        </div>
                    </div>
                }
            </div>
        } else
        {
            <div class="d-flex justify-content-center">
                <h5 class="text-muted">No animes found</h5>
            </div>
        }
    } else {
        <div class="d-flex justify-content-center">
            <div class="control">
                <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Medium" />
            </div>
        </div>
    }
</div>
