@page "/animes/{id}"
@inherits BasePage
@implements EventAggregator.Blazor.IHandle<Events.DatabaseEvent>

<div class="content">
    <div class="row">
        <div class="col text-center">
            <div class="item-container center-image">
                <img src="@CurrentAnime?.PosterImageUrl" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center text-secondary">
            @GetAnimeTitle()
        </div>
    </div>

    <br />
    <h3>Characters</h3>
    <hr />

    @if (CharactersList?.Any() == true)
    {
<div class="tile-container">
    @foreach (var character in CharactersList)
    {
        <div class="item-container" @onclick="() => _Character_OnClicked(character)">
            <AnimeCharacters.Components.CharacterTile Character="@character" Language="@Language" />
        </div>
    }
</div>
}
else
{
<div class="d-flex justify-content-center">
    <div class="control">
        <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Medium" />
    </div>
</div>}

</div>