@page "/animes/{id}"
@inherits BasePage

<div class="content">
    <div class="row">
        <div class="col text-center">
            <div class="item-container center-image">
                <img src="@CurrentAnime?.PosterImageUrl" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center text-secondary">
            @CurrentAnime?.Title
        </div>
    </div>

    <br />
    <div class="row" style="margin-right:4px;">
        <div class="col col-lg">
            <h3>Characters</h3>
        </div>
        <div class="col-xs" style="display:flex">
            <div style="align-self:flex-end">
                <select @onchange="_SelectLanguage">
                    <option selected="selected">Japanese</option>
                    <option>English</option>
                    <option>Chinese</option>
                    <option>Korean</option>
                </select>
            </div>
        </div>
    </div>
    <hr />

    @if (CharactersList?.Any() == true)
    {
<div class="row">
    @foreach (var character in CharactersList)
    {
<div class="col">
    <div class="item-container" @onclick="() => _Character_OnClicked(character)">
        <AnimeCharacters.Components.CharacterTile Character="@character" Language="@Language" IsLoading="@_IsLoading" />
    </div>
</div>                }
</div>
}
else
{
<div class="d-flex justify-content-center">
    <div class="control">
        <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Medium" />
    </div>
</div>}

</div>