@page "/"

<div class="flex-container">

    <div class="control">
        <h1>Kitsu List</h1>
    </div>

    <div class="main-content">
        <img src="/kitsu_logo.png" class="center-image" style="width: 68px; height: 68px;" />

        @if (!string.IsNullOrWhiteSpace(ErrorLabel))
        {
            <div class="alert alert-danger">@ErrorLabel</div>
        }

        <div class="control">Welcome to Kitsu! Please enter your username to fetch the number of items you have:</div>

        <div class="control">
            <input type="text" class="form-control" @bind="KitsuUsername" @bind:event="oninput" placeholder="Kitsu Username" aria-label="Kitsu Username" aria-describedby="kitsu-username" />
            @if (IsPasswordVisible)
            {
                <input type="password" class="form-control" @bind="KitsuPassword" placeholder="Kitsu Password" aria-label="Kitsu Password" aria-describedby="kitsu-password" />
            }
        </div>

        <div class="control">
            <button class="btn btn-primary" @onclick="_ButtonClicked">@ButtonLabel</button>
        </div>

        <div class="control">
            <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Medium" Closed="@IsNotBusy" />
        </div>
    </div>
</div>