<div class="item">
    <div class="row">
        <div class="col">
            <img src="@(Character?.Image?.GetOptimalImage() ?? "#")" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="text-md-center text-primary">@(Character?.Name?.Full ?? "Loading...")</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="text-md-center text-secondary">VA: @(VoiceActor?.Name?.Full ?? "Loading...")</div>
        </div>
    </div>
</div>

@code 
{
    [Parameter]
    public AniListClient.Models.Character Character { get; set; } = null;

    [Parameter]
    public string Language { get; set; } = "Japanese";

    AniListClient.Models.VoiceActorSlim VoiceActor => Character?.VoiceActors.FirstOrDefault();
}

