<div class="item">
    <div class="row">
        <div class="col">
            <img src="@(IsLoading ? "#" : Character?.Image?.GetOptimalImage() ?? "#")" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="text-md-center text-primary">@(IsLoading ? "Loading..." : Character?.Name?.Full ?? "N/A")</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="text-md-center text-secondary">VA: @(IsLoading ? "Loading..." : VoiceActor?.Name?.Full ?? "N/A")</div>
        </div>
    </div>
</div>

@code 
{
    [Parameter]
    public AniListClient.Models.Character Character { get; set; } = null;

    [Parameter]
    public string Language { get; set; } = "Japanese";

    [Parameter]
    public bool IsLoading { get; set; }

    AniListClient.Models.VoiceActorSlim VoiceActor => Character?.VoiceActors.FirstOrDefault();
}

