<div class="item">
    <div class="row">
        <div class="col" @onclick="_OnAnimeClicked">
            <img src="@(CharacterAnime?.AnimeImageUrl ?? "#")" />
        </div>
        <div class="col" @onclick="_OnCharacterClicked">
            <img src="@(CharacterAnime?.VoiceActingRole?.Image?.GetOptimalImage() ?? "#")" />
        </div>
    </div>
    <div class="row">
        <div class="col" @onclick="_OnAnimeClicked">
            <div class="text-md-center text-primary">@(CharacterAnime?.VoiceActingRole?.Media?.FirstOrDefault()?.Title?.UserPreferred ?? "Loading...")</div>
        </div>
        <div class="col" @onclick="_OnCharacterClicked">
            <div class="text-md-center text-secondary">@(CharacterAnime?.VoiceActingRole?.Name?.Full ?? "Loading...")</div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public Models.CharacterAnimeModel CharacterAnime { get; set; } = null;

    [Parameter]
    public EventCallback OnAnimeClicked { get; set; }

    [Parameter]
    public EventCallback OnCharacterClicked { get; set; }

    void _OnAnimeClicked()
    {
        OnAnimeClicked.InvokeAsync();
    }

    void _OnCharacterClicked()
    {
        OnCharacterClicked.InvokeAsync();
    }
}